<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>C6188D8E-BFE3-4573-AC00-DBF7897D1D48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7A0A2DF-702B-4EB6-AD71-EF66115960F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Blaine Schmeisser</string>
	<key>description</key>
	<string>Find and replace your last clipboard item!</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Find Replace</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>replace</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Waiting...</string>
				<key>script</key>
				<string>ruby find-replace.rb "{query}"</string>
				<key>subtext</key>
				<string>Replace "{query}"</string>
				<key>title</key>
				<string>Replace</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C6188D8E-BFE3-4573-AC00-DBF7897D1D48</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A7A0A2DF-702B-4EB6-AD71-EF66115960F7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>A7A0A2DF-702B-4EB6-AD71-EF66115960F7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C6188D8E-BFE3-4573-AC00-DBF7897D1D48</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/blainesch</string>
</dict>
</plist>
